body * { 
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif; 
    font-weight: normal; 
}

table td { 
    width: 340px;
    height: 200px;
    vertical-align: top; 
}

table td p, table td pre, table td textarea { 
    line-height: 150%;
    margin: 0px;
    margin-bottom: 1em;
}

.sandbox_input {
    width: 100%;
    height: 100%;
    min-height: 180px; /*for IE*/
}
            
.container {      
    position: relative;
    width: inherit;
    height: inherit;
    padding: 1em;
}

/* important: don't use same name in tests */
* .mygene, .myothergene, #mnbv {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin-top: -1em;
    margin-left: -1em;
}

.corner { 
    position: absolute;
    width: .5em;
    height: .5em;
}
.corner.left {
    left: 0px;
    border-left: 1px dotted black;
}
.corner.right {
    /* TODO: best to hide these corners? */          
/*            display: none;*/
    right: 0px;
    border-right: 1px dotted black;
}
.corner.top {
    top: 0px;
    border-top: 1px dotted black;
}
.corner.bottom {
    bottom: 0px;
    border-bottom: 1px dotted black;
}
