#genetify_controls {
    z-index: 999;
    position: fixed; 
    left: 5%; 
    bottom: 5%;  
    max-width: 800px;

    background-color: rgb(120,120,120);
    opacity: 0.95;
    border: 1px solid rgb(100,100,100);
    
    color: white;
}

/* GROUP */
#genetify_controls .buttons {
    float: left;
    padding: 3px;
    margin: 4px;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:14px !important;
    line-height:28px !important;
}

/* BUTTONS */

#genetify_controls .buttons a, #genetify_controls .buttons button{
/*            display:block;
    float:left;
    margin:0 7px 0 0;
*/            background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
#genetify_controls .buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
#genetify_controls .buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
#genetify_controls *:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
#genetify_controls .buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

#genetify_controls button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
#genetify_controls .buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

#genetify_controls button.positive, .buttons a.positive{
    color:#529214;
}
#genetify_controls .buttons a.positive:hover, button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
#genetify_controls .buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

#genetify_controls .buttons a.negative, button.negative{
    color:#d12f19;
}
#genetify_controls .buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
#genetify_controls .buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

/* results table */

#genetify_results {
    position:absolute; top:0%; right:0%;
}

#genetify_results_table {
    /*same as control panel*/
    opacity: 0.95;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:0.9em;
/*    position: fixed;*/

    /* TODO:  */
/*    height: 50%;*/
/*    overflow: scroll;*/
    left: 5%;
    bottom: 20%;
    
    background-color: rgb(200,200,200);
    border: 1px solid rgb(120,120,120);

    border-spacing: 1px;

}
#genetify_results_table th {
    text-align: center;
    font-weight: bold;
}
#genetify_results_table td {
    background-color: white;
}
#genetify_results_table td, th {
    padding: 0.66em;
    height: auto;  
    min-width: 50px;
    text-align: right;
}
#genetify_results_table .genetify_gene_row {
    text-align: center;
    font-style: italic;
}

#genetify_results_table td.genetify_col_weight {
    background-color: rgb(240,240,240);
}

#genetify_results_table .genetify_col_stddev,
#genetify_results_table .genetify_col_share {
    display: none;
}
